* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.App {
  min-height: 100vh;
  background-color: #72b28e;
  background-image: url(img/svg.png);
  background-position: 80% 50%;
}

.container {
  padding: 70px 280px 0;
}
